/* General Styling */

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

h1,
h2,
h3 {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

.med-gap {
  margin-top: 50px;
}

.wrapper {
  background: #eddcd2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Main Text */

.main-text {
  color: #142c3e;
  line-height: 2rem;
  text-align: center;
  margin-top: 50px;
}

/* Game Buttons */

.game-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.btn-choice {
  margin: 50px;
  height: 10rem;
  width: 10rem;
  font-size: 2rem;
  border: 1px solid #142c3e;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#btn-rock {
  background: #c5dedd;
}

#btn-rock:hover {
  cursor: pointer;
  background: #a4cbca;
  transform: scale(1.1);
  transition: all 0.2s;
}

#btn-paper {
  background: #fad2e1;
}

#btn-paper:hover {
  cursor: pointer;
  background: #f7b6cd;
  transform: scale(1.1);
  transition: all 0.2s;
}

#btn-scissors {
  background: #99c1de;
}

#btn-scissors:hover {
  cursor: pointer;
  background: #84b4d7;
  transform: scale(1.1);
  transition: all 0.2s;
}

/* Score */

.score {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-box {
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.score-box p {
  font-size: 1.25rem;
  color: #142c3e;
}

.computer-points,
.player-points {
  border: 2px solid #142c3e;
  background: #e8d2c5;
  width: 200px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 1.25rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.results {
  border: 2px solid #142c3e;
  background: #e8d2c5;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 1.25rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.restart {
  display: flex;
  justify-content: center;
}

#btn-restart {
  margin: 50px;
  padding: 25px;
  font-size: 1.25rem;
  border: 1px solid #142c3e;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background: #142c3e;
  color: white;
}

#btn-restart:hover {
  cursor: pointer;
  background: #0a161f;
  transform: scale(1.1);
  transition: all 0.2s;
}

/* https://coolors.co/eddcd2-fff1e6-fde2e4-fad2e1-c5dedd-dbe7e4-f0efeb-d6e2e9-bcd4e6-99c1de
 */
